{% extends 'profile/base.html' %}
{% load staticfiles %}
{% block title %} fyt.com {% endblock %}
{% block content %}
<div class="row">
			<div class="col-md-12">
				<div class=" tiles white col-md-12 no-padding">
					<div class="tiles green cover-pic-wrapper">						
						<div class="overlayer bottom-right">
							<div class="overlayer-wrapper">
									<div class="padding-10 hidden-xs">									
										<button type="button" class="btn btn-primary btn-small"><i class="fa fa-check"></i>&nbsp;&nbsp;Send Request</button> <button type="button" class="btn btn-primary btn-small"><i class="fa fa-star"></i>&nbsp;&nbsp;Favorite</button>
									</div>
								</div>
						</div>
					<img src="/static/img/gym-banner.jpg" width="100%" style="margin: -260px 0 0 0px;" alt="">
					</div>
					<div class="tiles white">
			
						<div class="row">
							<div class="col-md-2 col-sm-3">
								<div class="user-profile-pic">	
									<img width="69" height="69" data-src-retina="/static/dashboard/img/profiles/avatar2x.jpg" data-src="/static/dashboard/img/profiles/avatar.jpg" src="/static/dashboard/img/profiles/avatar.jpg" alt="">
								</div>
								 <div class="user-mini-description">
									<h3 class="text-success semi-bold">
									The Gym
									</h3>
									<h5>Large, fully equipped home gym. Perfect for small or medium classes. No walk-ins. Must contact us through fyt.com for set up</h5>
								</div>
							</div>
							<div class="col-md-5 user-description-box  col-sm-5">
								<div class="col-md-6">
									<h4 class="semi-bold no-margin">John Connor</h4>
									<h6 class="no-margin">Listing Owner</h6>
									<br>
									<p><i class="fa fa-map-marker"></i>San Jode, CA</p>
									<p><i class="fa fa-globe"></i>www.thegym.com</p>
								</div>
								<div class="col-md-6">
									<h4 class="semi-bold no-margin">$10 per session</h4>
									<h6 class="no-margin">Trainer use • Proportional use</h6>
									<br>
									<p><i class="fa fa-check"></i>24 hour response</p>
									<p><i class="fa fa-check"></i>Ready to use</p>
									<p><i class="fa fa-check"></i>Fully Equipped</p>
									<p><i class="fa fa-check"></i>Wifi</p>
								</div>
							</div>

							<div class="col-md-3  col-sm-3">
								
								<h5 class="normal">Used by ( <span class="text-success">8</span> )</h5>
								<ul class="my-friends">
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/d2x.jpg" data-src="/static/dashboard/img/profiles/d.jpg" src="/static/dashboard/img/profiles/d.jpg" alt="">
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/c2x.jpg" data-src="/static/dashboard/img/profiles/c.jpg" src="/static/dashboard/img/profiles/c.jpg" alt="">
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/h2x.jpg" data-src="/static/dashboard/img/profiles/h.jpg" src="/static/dashboard/img/profiles/h.jpg" alt="">
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/avatar_small2x.jpg" data-src="/static/dashboard/img/profiles/avatar_small.jpg" src="/static/dashboard/img/profiles/avatar_small.jpg" alt=""> 
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/e2x.jpg" data-src="/static/dashboard/img/profiles/e.jpg" src="/static/dashboard/img/profiles/e.jpg" alt=""> 
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/b2x.jpg" data-src="/static/dashboard/img/profiles/b.jpg" src="/static/dashboard/img/profiles/b.jpg" alt=""> 
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/h2x.jpg" data-src="/static/dashboard/img/profiles/h.jpg" src="/static/dashboard/img/profiles/h.jpg" alt="">
										</div>
									</li>
									<li><div class="profile-pic"> 
										<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/d2x.jpg" data-src="/static/dashboard/img/profiles/d.jpg" src="/static/dashboard/img/profiles/d.jpg" alt="">
										</div>
									</li>							
								</ul>	
								<div class="clearfix"></div>
							
							</div>				
						</div>
				
				  <div class="tiles-body">
				  <div class="row">
				  <div class="col-md-5">
	                  	<h3 class="semi-bold no-margin">Guidelines</h3>
						<div class="row column-seperation">
						      <div class="col-md-6">
			                  	<h4 class="semi-bold">Trainers</h4>
			                  	<p class="light">
							        <ul>
							        	<li>Insurance</li>
							        	<li>Must re-rack</li>
							        	<li>Approval before use</li>
							        	<li>Curteous of others</li>
							        	<li>Insurance</li>
							        	<li>Insurance</li>
							        </ul>
							    </p>
			                </div>
			                <div class="col-md-6">
			                  	<h4 class="semi-bold">Members</h4>
			                  	<p class="light">
							        <ul>
							        	<li>Must check in</li>
							        	<li>Re-rack weights</li>
							        	<li>Use gym towel</li>
							        </ul>
							    </p>
			                </div>
						                
						              </div>
					</div>
					<div class="post col-md-6">
						<div class="user-profile-pic-wrapper">
							<div class="user-profile-pic-normal">
									<img width="35" height="35" data-src-retina="/static/dashboard/img/profiles/c2x.jpg" data-src="/static/dashboard/img/profiles/c.jpg" src="/static/dashboard/img/profiles/c.jpg" alt="">
								</div>
						</div>
						<div class="info-wrapper">					
							<div class="username">
								<span class="dark-text">John Drake</span>	
							</div>
							<div class="info">
								Great space! Totally happy with the equipment! 
								Special thanks for <span class="dark-text">John connor</span> for his motivation ;) 
							</div>	
							<div class="more-details">
								<ul class="post-links">
									<li><a href="#" class="muted">2 Minutes ago</a></li>
									<li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
									<li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
								</ul>
							</div>
								<div class="clearfix"></div>
						
						
							<div class="clearfix"></div>
							
										
						</div>	
						<div class="clearfix"></div>	
						<br>
						<br>
					</div>
					
				</div>
				</div>
					</div>
				</div>	
			</div>
			 	
			
			
		</div>
{% endblock %}